[Desktop Entry]
Encoding=UTF-8
Name=Gnome CD Master
Comment=Gnome Audio CD editor and burner
Exec=gcdmaster %F
Icon=gcdmaster.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;AudioVideo;Application;X-Fedora;
