[Desktop Entry]
Name=Gnome CD Master
Comment=Gnome Audio CD editor and burner
Exec=gcdmaster %F
Icon=gcdmaster
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Audio;AudioVideo;DiscBurning;
Keywords=cdrom;cd;dvd;disc;burn;audio;
